{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'student_management_app/fontawesome-free-5.15.4-web/css/all.css '%}">
    <link rel="stylesheet" href="{% static 'student_management_app/css/Add Staff.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'student_management_app/img/brain.png'%}">
</head>
<body>
    <div class="Add_Staff_Page_container">
        <div class="btn_back_home"><a href="{% url 'admin_home' %}"><i class="fas fa-arrow-left"></i></a></div>

        <div class="Add_Staff_Page_content">
            <form action = "/add_staff_save" method="post">
                {% csrf_token %}
                <h2 class="header">Add Staff</h2>
                <input type="email" name="email" placeholder="Email address">
                <input type="password" name="password" placeholder="Password">
                <input type="text" name="first_name" id="input1" placeholder="Frist Name">
                <input type="text" name="last_name" id="input1" placeholder="Last Name">
                <input type="text" name="username" id="input1" placeholder="User Name">
                <input type="text" name="address" id="input1" placeholder="Address">
                <div class="Add_Staff_Page_content_btns">
                    <button type="submit">add staff</button>    
                    <button type="reset">cancel</button>
                </div>
                {% if messages%}
                {% for message in messages %}
                {% if message.tags == 'error' %}	
                <div style="position: absolute; top: 60px;color: rgb(67, 126, 235); font-family: 'Poppins', sans-serif;">{{message}}</div>	
                {% endif %}
                {% if message.tags == 'success' %}
                <div style="position: absolute; top: 60px;color: rgb(67, 126, 235); font-family: 'Poppins', sans-serif;">{{message}}</div>
                {% endif %}	
                {% endfor %}
                {% endif %}  
            </form>  
        </div>
    </div>
</body>
</html>